@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    display: flex;
}

/* Left side */
.main-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 28vw;
    background-color: #32396F;
    padding: 50px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
}

.main-left div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-left h2 {
    text-align: center;
}

.main-left p {
    margin: 20px auto;
    text-align: justify;
}

.main-left button {
    padding: 8px 50px;
    border: 1px solid #fff;
    border-radius: 12px 12px 12px 12px;
    background-color: #32396F;
    color: #fff;
}

.main-left button:hover {
    background-color: #fff;
    color: #32396F;
    cursor: pointer;
}
/* Left side */

/* Right side */
.main-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 72vw;
    padding: 50px;
    margin-left: 28vw;
}

    /* Table */
    table {
        background-color: #fff;
        width: 100%;
        border-collapse: collapse;
    }
    th {
        padding: 5px;
    }

    tr {
        background-color: #D9D9D9;
    }

    td {
        text-align: center;
    }

    .bloco-titulo-tabela {
        background-color: #32396F;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-weight: lighter;
        padding: 6px 10px;
    }

    .bloco-celula-tabela {
        margin: 5px 0;
        padding: 5px 10px;
        border-left: 1px solid #32396F;
    }

    .bloco-celula-tabela-nome {
        margin: 5px 0;
        padding: 5px 10px;
        border: none;
    }

    .media{
        border-right: 1px solid #32396F;
    }

    .aprovado {
        background-color: #209F05;
        margin: 5px 15px;
        border: none;
        border-radius: 5px;
        color: #fff;
        text-align: center;
    }

    .reprovado {
        background-color: #AD0606;
        margin: 5px 15px;
        border-radius: 5px;
        border: none;
        color: #fff;
        text-align: center;
    }

    .recuperacao {
        background-color: #FBB716;
        margin: 5px 15px;
        border-radius: 5px;
        border: none;
        color: #fff;
        text-align: center;
    }

    .th-edit {
        background-color: #fff;
    }

    .td-edit {
        background-color: #fff;
    }

    .edit-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        background-color: #D9D9D9;
        margin-left: 5px;
        border-radius: 5px;
    }

    .edit-container:hover {
        background-color: #D9D9D990;
        cursor: pointer;
    }

    .reprovado-media-turma {
        background-color: #AD0606;
        width: 80%;
        padding: 5px 0;
        border-radius: 5px;
        border: none;
        color: #fff;
        text-align: center;
    }

    .recuperacao-media-turma {
        background-color: #FBB716;
        width: 80%;
        padding: 5px 0;
        border-radius: 5px;
        border: none;
        color: #fff;
        text-align: center;
    }

    .aprovado-media-turma {
        background-color: #209F05;
        width: 80%;
        padding: 5px 0;
        border-radius: 5px;
        border: none;
        color: #fff;
        text-align: center;
    }

    .bloco-celula-tabela-media {
        margin: 5px 0;
        padding: 5px 10px;
        border-right: 1px solid #32396F;
    }
    /* Table */
/* Right side */

/* Modal */
#fade {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 72vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
}

#modal-1 {
    background-color: #D9D9D9;
    width: 650px;
    max-width: 80%;
    padding: 20px;
    border-radius: 15px;
    z-index: 998;
}

.modal-1-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-1-header button {
    padding: 10px;
    background-color: #32396F;
    border: 1px solid #32396F;
    color: white;
    border-radius: 5px;
}

.modal-1-header button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#modal-1,
#fade {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal-1.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#pdf {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#pdf button {
    padding: 10px;
    background-color: #32396F;
    border: 1px solid #32396F;
    color: white;
    border-radius: 5px;
}

#pdf button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
/* Modal */

/* Modal 2 */

#modal-2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: #D9D9D9;
    width: 450px;

}

.modal-2-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#grades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grades input {
    width: 150px;
    background-color: snow;
    border: 2.5px solid #32396F;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
}

.modal-2-header button {
    padding: 10px;
    background-color: #32396F;
    border: 1px solid #32396F;
    color: white;
    border-radius: 5px;
}

.modal-2-header button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#saveGrades {
    align-items: center;
    display: flex;
    justify-content: center;
}

#saveGrades button {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #219f05b1;
    border: none;
    color: white;
    border-radius: 5px;
}

#saveGrades button:hover {
    background-color: #219f05;
    cursor: pointer;
}

#fade-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 72vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#modal-2,
#fade-1 {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal-2.hide,
#fade-1.hide {
    opacity: 0;
    pointer-events: none;
}
/* Modal 2 */

/* Pop-up */
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.popupConteudo {
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: -37%;
    left: -35%;
    width: 300px;
}

.barraPro {
    width: 100%;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
  
}
  
.preencher {
    height: 100%;
    background-color: #32396F;
    transition: width 0.3s;
}
/* Pop-up */